In [2]:
from config import POSTGRES_CONNECTION_STRING
import pandas as pd
from sqlalchemy import create_engine

In [4]:
def con():
    return create_engine(POSTGRES_CONNECTION_STRING)

In [22]:
data = pd.read_csv('../data/moscow-districs.csv')
data.columns = ['division', 'district', 'square', 'population', 'lat', 'lng']
for float_col in ['square', 'lat', 'lng']:
    data[float_col] = data[float_col].apply(lambda x: float(x.replace(',', '.')))
data.head()

,division,district,square,population,lat,lng
0,Восточный округ,Богородское,10.24,110044,55.819760,37.704231
1,Восточный округ,Вешняки,10.72,121972,55.730776,37.815193
2,Восточный округ,Восточное,3.14,13698,55.814980,37.867588
3,Восточный округ,Восточное Измайлово,3.85,77931,55.795818,37.821804
4,Восточный округ,Гольяново,14.99,162886,55.816819,37.798242

In [20]:
def save_to_db(df):
    df = df.copy()
    df['id'] = list(range(1, df.shape[0] + 1))
    df[['id', 'district', 'division', 'square', 'population', 'lat', 'lng']]\
        .to_sql('districts', con(), index=False)
# save_to_db(data)